/*! purgecss start ignore */
@import "../../../../search/scss/index";

:root {
    --search-primary: var(--#{$prefix}primary-text);
    --search-bg: var(--#{$prefix}body-bg);
    --search-color: var(--#{$prefix}body-color);
    --search-color-secondary: var(--#{$prefix}secondary-color);
    --search-border-color: var(--#{$prefix}border-color);
    --search-result-bg: var(--#{$prefix}secondary-bg);
    --search-result-color: var(--#{$prefix}body-color);
    --search-result-color-secondary: var(--#{$prefix}secondary-color);
}

.search-result {
    mark {
        padding: 0 0.075rem;
    }
}

/*! purgecss start end */
