/* stylelint-disable selector-id-pattern */
#TableOfContents {
    font-size: 0.875rem;

    > ul {
        padding-left: 0 !important;
    }

    ul {
        list-style: none;
        padding-left: 1rem;

        ul {
            margin-top: 0.25rem;
        }
    }

    li {
        margin-bottom: 0.25rem;
    }

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
/* stylelint-enable selector-id-pattern */
