.hb-blog-post-meta {
    color: var(--#{$prefix}tertiary-color);
    font-size: 0.825rem;

    * {
        margin: 0.125rem;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &:not(:last-child) {
            &::after {
                content: "·";
                padding-left: 0.5rem;
            }
        }
    }
}
