/*! purgecss start ignore */
@import "../../../../bigger-picture/bigger-picture";

.bp-wrap {
    z-index: 1100;
}

img {
    cursor: zoom-in;
}

a {
    img {
        cursor: pointer;
    }
}

/*! purgecss end ignore */
