/* Background */ .bg { color: #282c34; }
/* PreWrapper */ .chroma { color: #c9c9c9color: #282c34; }
/* Other */ .chroma .x { color: #c9c9c9 }
/* Error */ .chroma .err { color: #cf5967 }
/* CodeLine */ .chroma .cl { color: #c9c9c9 }
/* LineLink */ .chroma .lnlinks { outline: none; text-decoration: none; color: inheritcolor: #c9c9c9 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0;color: #c9c9c9 }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0;color: #c9c9c9 }
/* LineHighlight */ .chroma .hl { color: #c9c9c9; background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #939599 }
/* LineNumbers */ .chroma .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #939599 }
/* Line */ .chroma .line { display: flex;color: #c9c9c9 }
/* Keyword */ .chroma .k { color: #7fbaf5 }
/* KeywordConstant */ .chroma .kc { color: #cf5967; background-color: #43454f }
/* KeywordDeclaration */ .chroma .kd { color: #7fbaf5 }
/* KeywordNamespace */ .chroma .kn { color: #bc74c4 }
/* KeywordPseudo */ .chroma .kp { color: #bc74c4 }
/* KeywordReserved */ .chroma .kr { color: #7fbaf5 }
/* KeywordType */ .chroma .kt { color: #57c7ff; font-weight: bold }
/* Name */ .chroma .n { color: #c9c9c9 }
/* NameAttribute */ .chroma .na { color: #bc74c4 }
/* NameBuiltin */ .chroma .nb { color: #7fbaf5 }
/* NameBuiltinPseudo */ .chroma .bp { color: #7fbaf5 }
/* NameClass */ .chroma .nc { color: #ecbe7b }
/* NameConstant */ .chroma .no { color: #ecbe7b }
/* NameDecorator */ .chroma .nd { color: #ecbe7b }
/* NameEntity */ .chroma .ni { color: #c9c9c9 }
/* NameException */ .chroma .ne { color: #cf5967 }
/* NameFunction */ .chroma .nf { color: #57c7ff }
/* NameFunctionMagic */ .chroma .fm { color: #c9c9c9 }
/* NameLabel */ .chroma .nl { color: #cf5967 }
/* NameNamespace */ .chroma .nn { color: #c9c9c9 }
/* NameOther */ .chroma .nx { color: #c9c9c9 }
/* NameProperty */ .chroma .py { color: #c9c9c9 }
/* NameTag */ .chroma .nt { color: #bc74c4 }
/* NameVariable */ .chroma .nv { color: #bc74c4; font-style: italic }
/* NameVariableClass */ .chroma .vc { color: #57c7ff; font-weight: bold }
/* NameVariableGlobal */ .chroma .vg { color: #ecbe7b }
/* NameVariableInstance */ .chroma .vi { color: #57c7ff }
/* NameVariableMagic */ .chroma .vm { color: #c9c9c9 }
/* Literal */ .chroma .l { color: #c9c9c9 }
/* LiteralDate */ .chroma .ld { color: #57c7ff }
/* LiteralString */ .chroma .s { color: #82cc6a }
/* LiteralStringAffix */ .chroma .sa { color: #82cc6a }
/* LiteralStringBacktick */ .chroma .sb { color: #57c7ff }
/* LiteralStringChar */ .chroma .sc { color: #57c7ff }
/* LiteralStringDelimiter */ .chroma .dl { color: #82cc6a }
/* LiteralStringDoc */ .chroma .sd { color: #82cc6a }
/* LiteralStringDouble */ .chroma .s2 { color: #82cc6a }
/* LiteralStringEscape */ .chroma .se { color: #56b6c2 }
/* LiteralStringHeredoc */ .chroma .sh { color: #56b6c2 }
/* LiteralStringInterpol */ .chroma .si { color: #82cc6a }
/* LiteralStringOther */ .chroma .sx { color: #82cc6a }
/* LiteralStringRegex */ .chroma .sr { color: #57c7ff }
/* LiteralStringSingle */ .chroma .s1 { color: #82cc6a }
/* LiteralStringSymbol */ .chroma .ss { color: #82cc6a }
/* LiteralNumber */ .chroma .m { color: #56b6c2 }
/* LiteralNumberBin */ .chroma .mb { color: #57c7ff }
/* LiteralNumberFloat */ .chroma .mf { color: #56b6c2 }
/* LiteralNumberHex */ .chroma .mh { color: #57c7ff }
/* LiteralNumberInteger */ .chroma .mi { color: #56b6c2 }
/* LiteralNumberIntegerLong */ .chroma .il { color: #56b6c2 }
/* LiteralNumberOct */ .chroma .mo { color: #57c7ff }
/* Operator */ .chroma .o { color: #bc74c4 }
/* OperatorWord */ .chroma .ow { color: #bc74c4 }
/* Punctuation */ .chroma .p { color: #56b6c2 }
/* Comment */ .chroma .c { color: #3e4460 }
/* CommentHashbang */ .chroma .ch { color: #3e4460; font-style: italic }
/* CommentMultiline */ .chroma .cm { color: #3e4460 }
/* CommentSingle */ .chroma .c1 { color: #3e4460 }
/* CommentSpecial */ .chroma .cs { color: #bc74c4; font-style: italic }
/* CommentPreproc */ .chroma .cp { color: #7fbaf5 }
/* CommentPreprocFile */ .chroma .cpf { color: #7fbaf5 }
/* Generic */ .chroma .g { color: #c9c9c9 }
/* GenericDeleted */ .chroma .gd { color: #cf5967 }
/* GenericEmph */ .chroma .ge { color: #c9c9c9; text-decoration: underline }
/* GenericError */ .chroma .gr { color: #cf5967; font-weight: bold }
/* GenericHeading */ .chroma .gh { color: #ecbe7b; font-weight: bold }
/* GenericInserted */ .chroma .gi { color: #ecbe7b }
/* GenericOutput */ .chroma .go { color: #43454f }
/* GenericPrompt */ .chroma .gp { color: #c9c9c9 }
/* GenericStrong */ .chroma .gs { color: #cf5967; font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #cf5967; font-style: italic }
/* GenericTraceback */ .chroma .gt { color: #c9c9c9 }
/* GenericUnderline */ .chroma .gl { color: #c9c9c9; text-decoration: underline }
/* TextWhitespace */ .chroma .w { color: #c9c9c9 }
