$hb-back-to-top-bottom: {{ default "1rem" site.Params.hb.back_to_top.position_bottom }};
$hb-back-to-top-end: {{ default "1rem" site.Params.hb.back_to_top.position_end }};
$hb-back-to-top-animation: {{ default true site.Params.hb.back_to_top.animation }};
