.mermaid {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    &:not([data-processed="true"]) {
        height: 120px;
        color: var(--#{$prefix}secondary);

        &::after {
            @extend .spinner-border;
            content: "";
            margin: 0 0 0 0.25rem;
            position: absolute;
        }
    }
}
