{{- $id := printf "carousel-%s" .Page.File.UniqueID }}
{{- $summary := default false (.Get "summary") }}
{{- $height := 360 }}
{{- $pages := partial "hb/functions/pages" .Params }}
<div id="{{ $id }}" class="hb-carousel carousel slide hb-module">
  <div class="carousel-indicators">
    {{- $first := true }}
    {{- range $i, $page := $pages }}
      <button
        type="button"
        data-bs-target="#{{ $id }}"
        data-bs-slide-to="{{ $i }}"
        {{ if $first }}class="active" aria-current="true"{{ end }}
        aria-label="Slide {{ $i }}"></button>
      {{- $first = false }}
    {{- end }}
  </div>
  <div class="carousel-inner rounded border">
    {{- $first := true }}
    {{- range $pages }}
      {{- $imgURL := "" }}
      {{- $img := partialCached "hb/functions/page-featured-image" . . }}
      {{- if $img }}
        {{- $imgURL = ($img.Resize (printf `x%d` $height)).RelPermalink }}
      {{- else if isset .Params.images 0 }}
        {{- $imgURL = index .Params.images 0 | absURL }}
      {{- end }}
      <div class="carousel-item{{ cond $first ` active` `` }}">
        {{- if $img }}
          <img
            src="{{ $imgURL }}"
            class="carousel-img d-block"
            alt="{{ .Title }}" />
        {{- else }}
          <div class="carousel-img-placeholder"></div>
        {{- end }}
        <div class="carousel-caption">
          <div class="mb-1">
            <a class="h5 text-decoration-none" href="{{ .RelPermalink }}">
              {{- .Title -}}
            </a>
          </div>
          {{- if $summary }}
            <div class="d-none d-md-block mt-2">{{ .Summary }}</div>
          {{- end }}
        </div>
      </div>
      {{- $first = false }}
    {{- end }}
  </div>
  <div class="carousel-controls">
    <a
      class="carousel-control me-2"
      role="button"
      href="#{{ $id }}"
      data-bs-slide="prev">
      {{- partial "icons/icon" (dict "vendor" "bs" "name" "arrow-left-square" "height" "1.75em" "width" "1.75em") -}}
      <span class="visually-hidden">Previous</span>
    </a>
    <a
      class="carousel-control"
      role="button"
      href="#{{ $id }}"
      data-bs-slide="next">
      {{- partial "icons/icon" (dict "vendor" "bs" "name" "arrow-right-square" "height" "1.75em" "width" "1.75em") -}}
      <span class="visually-hidden">Next</span>
    </a>
  </div>
</div>
